
/* Ransome Hudson 2/5/2026 */

nav ul {
    background-color: lightblue;
    list-style-type: none;
}

nav ul li:hover {
    background-color: blue;

}

nav ul li a {
    text-decoration: none;
    font: bold;
    color: brown;
}

table {
    border-radius: 1px;
    border-style: solid;
}

tr:nth-child(even) {
    background-color: bisque;
}

.bordered-image {
    border: 4px solid greenyellow;
    border-radius: 7px;
}